img {
  width: 100%;
}

body {
  background-color: rgb(139, 220, 220);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}
