/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

/*no changes*/
body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /*added all below this line*/
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/*no changes*/
.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

/*no changes*/
.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  /*not sure why I had to add this*/
  padding-right: 8px; 
}

/*no changes*/
button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

/*no changes*/
a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  /*added all below this line*/
  display: flex; /*this put the li in a row*/
  margin: 0; /*this moved the li up slightly*/
  padding: 0; /*this moved li to the left*/
  gap: 16px; /*this added a gap to the li*/
}

/*added all below this line*/
.left, .right {
  display: flex; /*this moved li up to same row as LOGO*/
  align-items: center; /*this centered them on the cross axis*/
  padding: 16px; /*this added padding around the boxes*/
}